@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #111111;
  overflow: hidden;

}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}


.page h1 {
  font-family: 'Bitcount Prop Single', monospace;
  color: white;
}

.page h3 {
  color: white;
}

.page p {
  color: white;
}

.peter {
  position: fixed;
  bottom: -50px;
  right: 50px;
  height: 400px;
  z-index: 1000;
}

.chick {
  position: fixed;
  bottom: -50px;
  left: 50px;
  height: 400px;
  z-index: 1000;
}
