@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

/* font-family: 'Amatic SC', cursive; */

.page {
  min-height: 60vh;
  min-width: 100vh;
  border-style: solid;
  border-width: 2px;
  border-color: #4ade80;
  border-radius: 0px;
}

.fileDisplay {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.downloadTrash {
  display: flex;
  align-items: center;
}




.page button {
  color: #4ade80;
  background-color: #1a1a1a;
  font-size: 16px;
  font-weight: 400;
  padding: 12px 20px;
  border-style: solid;
  border-width: 1px;
  border-radius: 0px;
  border-color: #4ade80;
  width: 100%;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.page button:hover {
  background-color: #4ade80;
  color: #111111;
}

.hidden {
  display: none;
}

.headerStuff {
  display: flex;
  align-items: center;
}


.page h1 {
  margin-left: 400px;
}

.storageUl {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
  border-style: solid;
  border-width: 1px;
  border-radius: 0px;
  border-color: #4ade80;
  list-style: none;
  color: #4ade80;
  padding: 8px;
}

.storageUl li {
  padding-left: 5px;
  padding-right: 30px;
  margin-left: auto;
  font-size: 16px;
}

.trashButton {
  font-size: 16px !important;
  border: 1px solid #4ade80 !important;
  background: #1a1a1a !important;
  width: auto !important;
  max-width: 50px !important;
  padding: 12px !important;
  cursor: pointer;
  margin-left: 8px;
}

.trashButton:hover {
  background-color: #4ade80 !important;
  opacity: 100% !important;
}
