.page {
  display: flex;
  gap: 100px;
}

.page input {
  color: white;
}

.page button {
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  border-color: #ff005a;
}

.page input {
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  border-color: #ff005a;
}
