@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

/* font-family: 'Amatic SC', cursive; */

.page {
  min-height: 60vh;
  min-width: 100vh;
  border-style: solid;
  border-width: 2px;
  border-color: #ff005a;
  border-radius: 10px;
}

.fileDisplay {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
}




.page button {
  color: white;
  background-color: grey;
  font-size: 22px;
  font-weight: 300;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #ff005a;
  width: 100%;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.page button:hover {
  opacity: 50%;
}

.hidden {
  display: none;
}

.headerStuff {
  display: flex;
  align-items: center;
}


.page h1 {
  margin-left: 400px;
}

.storageUl {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
  border-style: dashed;
  border-width: 1px;
  border-radius: 2px;
  border-color: #ff005a;
  list-style: none;
  color: white;
}

.storageUl li {
  padding-left: 5px;
  padding-right: 30px;
  margin-left: auto;
  font-size: 16px;
}

.trashButton {
  font-size: 18px !important;
  border: none !important;
  background: none !important;
  width: auto !important;
  max-width: none !important;
  padding: 5px !important;
  cursor: pointer;
}

.trashButton:hover {
  opacity: 70% !important;
}
