.page {
  min-height: 60vh;
  min-width: 100vh;
  border-style: solid;
  border-width: 5px;
  border-color: #ff005a;
  border-radius: 10px;
}

.fileDisplay {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
}


.page h1 {
  justify-self: center;
}



.page button {
  border-style: double;
  border-width: 5px;
  border-radius: 5px;
  border-color: #ff005a;
}
