.page {
  display: flex;
  gap: 100px;
  align-items: center;
}


.page button {
  color: white;
  background-color: grey;
  border-style: solid;
  border-width: 2px;
  border-radius: 2px;
  border-color: #ff005a;
}

.page button:hover {
  opacity: 50%;
}


.page input {
  border-style: solid;
  border-width: 2px;
  border-radius: 2px;
  border-color: #ff005a;
  color: white;
}

.page input:hover {
  opacity: 50%;
}


.fileSent {
  position: absolute;
  right: 550px;
}
